
@{
    ViewBag.Title = "Index";
}

<h2>Лекция 1: Архитектура Model-View-Controller</h2>
<br /> @Html.ActionLink("Hello, MVC!", "String", "Hello") 
<br /> @Html.ActionLink("Redirect", "Redirect", "Hello")
<br /> @Html.ActionLink("Файл","File","Hello") 
<br /> @Html.ActionLink("Изображение","Image","Hello")
<br /> @Html.ActionLink("Представление","Page","Hello")
<br /> @Html.ActionLink("Типизированное представление","Model","Hello")
<br /> @Html.ActionLink("Пользовательское представление", "CustomView", "CustomView")
<br /> @Html.ActionLink("Пользовательский редирект","CustomRedirect","CustomView")
<br /> @Html.ActionLink("Пользовательский контроллер", "Index", "Custom")
<br /> @Html.ActionLink("Пользовательский контроллер с действием", "File", "Custom")